.wrapper
  .header__top-menu__left
    i.fa.fa-bars
    ul
      each item in headerTopMenu
        if item.name == 'Danh sách ưa thích'
          li
            a(onclick="document.getElementById('modal').style.display='block'")= item.name
        else if item.name == 'Giỏ hàng'
          li
            a(href=item.link)= item.name
              span 0
        else
          li
            a(href=item.link)= item.name
    #modal
      .modal
        .modal__content
          img(src='./assets/images/modal.png')
          i.fa.fa-times(onclick="document.getElementById('modal').style.display='none'")
          .modal__content__text
            p Gửi Email
            p Đăng ký Email ngay hôm nay để nhận được thông tin về các sự kiện, các chương trình giảm giá của chúng tôi sớm nhất!
            form
              input
              button GỬI EMAIL
            +input-checkbox('Không hiển thị lại thông báo này', "")
  .header__top-menu__right
    form
      input(placeholder="Tìm kiếm ở đây ...")
      button
        i.fa.fa-search