$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

$font-size-primary: 12px
$font-size-header-top-menu: 14px
$font-size-header-main-menu-list-item: 13px
$font-size-header-main-menu-list-icon: 18px
$font-size-header-main-menu-sub: 14px
$font-size-footer-title: 18px
$font-size-footer-email: 14px
$font-size-footer-contact: 14px
$font-size-time-box-num: 34px
$font-size-time-box-text: 14px
$font-size-corner-big: 32px
$font-size-corner-small: 16px
$font-size-sale-price: 34px
$font-size-sale-content: 13px
$font-size-intro-content: 16px
$font-size-product-title: 14px
$font-size-product-price: 21px
$font-size-product-price-old: 14px
$font-size-title-main: 21px
$font-size-title-product: 25px
$font-size-slide-arrow: 15px
$font-size-compare: 14px
$font-size-index-images: 72px
$font-size-index-customer: 14px
$font-size-blog-link: 16px
$font-size-blog-title: 18px
$font-size-blog-content: 14px
$font-size-detail-link: 14px
$font-size-detail-text-title: 16px
$font-size-detail-compare: 14px
$font-size-detail-description: 14px
$font-size-detail-social-text: 12px
$font-size-detail-content-right: 44px

$color-primary: #818181
$color-hover: #dfa949
$color-white: #ffffff
$color-black: #000000
$color-transparent: #ffffff1a
$color-blog-hover: rgba(255, 255, 255, 0.2)
$color-detail-main-right-quantity: #e6e6e6
$color-detail-main-right-social-fb: #4a67b7
$color-detail-main-right-social-tw: #00acee
$color-detail-main-right-social-gg: #dd4b38
$color-detail-main-right-social-in: #0077b5
$color-detail-main-right-social-pi: #be1526
$color-detail-main-right-social-bg: #ececec
$color-detail-main-left-middle-border: #e6e6e6

$z-index-header-top-menu: 999