-
  const headerTopMenu = [
    {name: 'Tài khoản của tôi', link: '#'}, 
    {name: 'Trạng thái đơn hàng', link: '#'}, 
    {name: 'Danh sách ưa thích', link: '#'}, 
    {name: 'Giỏ hàng', link: './cart.html'}, 
    {name: 'Đặng nhập', link: './login.html'}, 
    {name: 'Đăng ký', link: './register.html'}, 
  ]

-
  const headerMainMenuListMenu = [
    {name: 'Trang chủ', link: './index.html'}, 
    {name: 'Rượu vang đỏ', link: './detail.html'}, 
    {name: 'Rượu vang trắng', link: '#'}, 
    {name: 'Champagne', link: '#'}, 
    {name: 'Thông tin', link: './introduce.html'}, 
    {name: 'Blog', link: './blog.html'}, 
    {name: 'Liên hệ', link: './contact.html'}, 
  ]

-
  const headerMainMenuListMenuSubTitle = [
    'Rượu ngoại', 
    'Rượu vang', 
    'Rượu ngoại', 
  ]

-
  const headerMainMenuListMenuSubItem = [
    'Rượu Chivas', 
    'Hàng độc - Rượu độc đáo', 
    'Johnnie Walker', 
    'Rượu Whisky',
    'Rượu Remy Martin', 
    'Rượu Glenmorangie',
  ]

-
  const footerInfo = [
    'Về chúng tôi', 
    'Giao hàng', 
    'Cảm nghĩ', 
    'Lưu trữ', 
    'Chính sách riêng tư'
  ]

-
  const footerBuy = [
    'Vận chuyển và trả hàng', 
    'Mua hàng an toàn', 
    'Vận quốc tế', 
    'Liên kết', 
    'Dịch vụ giảm giá'
  ]

-
  const footerEmailSocial = [
    'fa fa-twitter', 
    'fa fa-google-plus', 
    'fa fa-dribbble', 
    'fa fa-linkedin', 
    'fa fa-rss'
  ]

-
  const footerContact = [
    {icon:'fa fa-map-marker', text:'Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P.Cống Vị, Q. Ba Đình, Hà Nội'}, 
    {icon:'fa fa-phone', text:'(04) 6674 2332'},
    {icon:'fa fa-phone', text:'(04) 3786 8904'},
    {icon:'fa fa-phone', text:'(08) 6680 9686'},
    {icon:'fa fa-envelope', text:'Support@bizweb.vn'}
  ]

-
  const indexImages = [
    './assets/images/index-images-1.png', 
    './assets/images/index-images-2.png', 
    './assets/images/index-images-3.png', 
    './assets/images/index-images-4.png', 
    './assets/images/index-images-5.png', 
    './assets/images/index-images-6.png', 
    './assets/images/index-images-7.png', 
    './assets/images/index-images-8.png'
  ]

-
  const indexBlog = [
    {link:'./assets/images/blog-1.png', text1:'Vang Thăng Long Classic', text2:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', text3:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'./assets/images/blog-2.png', text1:'Vang Thăng Long Classic', text2:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', text3:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'}
  ]

-
  const indexNewProduct = [
    {link:'./assets/images/product-1.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: 'Sale', color: '#dfa949'}, 
    {link:'./assets/images/product-2.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: 'Mới', color: 'green'}, 
    {link:'./assets/images/product-3.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: 'Hot', color: 'red'}, 
    {link:'./assets/images/product-4.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-5.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: 'Sale', color: 'red'}, 
    {link:'./assets/images/product-6.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-7.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: 'Hot', color: 'green'}, 
    {link:'./assets/images/product-8.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: 'Mới', color: '#dfa949'}, 
  ]

-
  const indexSellingProduct = [
    {link:'./assets/images/product-1.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-2.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-3.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-4.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-5.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-6.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-7.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
    {link:'./assets/images/product-8.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', corner: '', color: ''}, 
  ]

-
  const timeBox = [
    {num: '334', text: 'NGÀY'}, 
    {num: '26', text: 'GIỜ'}, 
    {num: '60', text: 'PHÚT'}, 
    {num: '15', text: 'GIÂY'}, 
  ]

-
  const detailLink = [
    {name: 'Trang chủ', link: './index.html'}, 
    {name: 'Sản phẩm', link: '#'}, 
    {name: 'Rượu vang đỏ', link: './detail.html'}, 
  ]

-
  const detailMainRightReview = [
    'fa fa-star', 
    'fa fa-star', 
    'fa fa-star', 
    'fa fa-star-half-o', 
    'fa fa-star-o'
  ]

-
  const detailMainRightColor = [
    '#e6ae48', 
    '#030102', 
    '#9c0001', 
  ]

-
  const detailMainRightSize = [
    'Loại to', 
    'Loại vừa', 
    'Loại nhỏ', 
  ]

-
  const detailMainRightCompare = [
    {class: 'fa fa-heart', text: 'Yêu thích'}, 
    {class: 'fa fa-signal', text: 'So sánh'}, 
    {class: 'fa fa-envelope', text: 'Email'}, 
  ]

-
  const detailMainLeft = [
    './assets/images/detail-main-left-1.jpg', 
    './assets/images/detail-main-left-1.jpg', 
    './assets/images/detail-main-left-2.jpg', 
    './assets/images/detail-main-left-3.jpg', 
    './assets/images/detail-main-left-1.jpg', 
    './assets/images/detail-main-left-1.jpg', 
    './assets/images/detail-main-left-1.jpg', 
    './assets/images/detail-main-left-2.jpg', 
    './assets/images/detail-main-left-3.jpg', 
    './assets/images/detail-main-left-1.jpg', 
  ]