extends ../layouts/default-layout

block title
  title Giới Thiệu

block container
  .intro
    +intro-link
    .intro__title
      .wrapper
        +title-product('GIỚI THIỆU', true)
    .intro__content
      .wrapper
        .intro__content__container
          .intro__content__left
            img(src='./assets/images/intro-content-left.png')
          .intro__content__right
            p Chào mừng đến với wine hourse
            p
              | Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, 
              br
              | sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, 
              br
              | sản phẩm được đóng chai dung tích 750ml...